<div class="event-area carousel-shadow default-padding bottom-less bg-gray">
    <div class="container">
        <div class="heading-left">
            <div class="row">
                <div class="col-lg-6 left-info">
                    <h5>Upcoming Events</h5>
                    <h2>
                        Join to our upcoming event and get involved
                    </h2>
                </div>
                <div class="col-lg-6 right-info">
                    <p>
                        Everything melancholy uncommonly but solicitude inhabiting projection off. Connection stimulated estimating excellence an to impression. 
                    </p>
                    <a class="btn circle btn-md btn-gradient wow fadeInUp" href="#">View All <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="event-grid-items">
            <!-- Single Item  -->
            <div class="item">
                <div class="row">
                    <div class="thumb col-lg-5" style="background-image: url(assets/img/800x800.png);">
                        <div class="date">
                            12 <strong>Aug</strong>
                        </div>
                    </div>
                    <div class="info col-lg-7">
                        <h4>
                            <a href="#">Healty Food For Poor People</a>
                        </h4>
                        <p>
                            Called though excuse length ye needed it he having. Whatever throwing we on resolved entrance together graceful. Mrs assured add private married removed believe did she no he several excited am. peculiar families sensible. 
                        </p>
                        <ul class="date">
                            <li>
                                <i class="fas fa-clock"></i> 10:00 AM - 18:00 PM
                            </li>
                            <li>
                                <i class="fas fa-calendar-alt"></i> 800 Loring Ave, Estancia
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Single Item  -->
            <!-- Single Item  -->
            <div class="item">
                <div class="row">
                    <div class="thumb col-lg-5" style="background-image: url(assets/img/800x800.png);">
                        <div class="date">
                            05 <strong>Sep</strong>
                        </div>
                    </div>
                    <div class="info col-lg-7">
                        <h4>
                            <a href="#">Medical Facilities for People</a>
                        </h4>
                        <p>
                            Called though excuse length ye needed it he having. Whatever throwing we on resolved entrance together graceful. Mrs assured add private married removed believe did she no he several excited am. peculiar families sensible. 
                        </p>
                        <ul class="date">
                            <li>
                                <i class="fas fa-clock"></i> 08:30 AM - 17:045 PM
                            </li>
                            <li>
                                <i class="fas fa-calendar-alt"></i> 800 Loring Ave, Estancia
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Single Item  -->
            <!-- Single Item  -->
            <div class="item">
                <div class="row">
                    <div class="thumb col-lg-5" style="background-image: url(assets/img/800x800.png);">
                        <div class="date">
                            29 <strong>Dec</strong>
                        </div>
                    </div>
                    <div class="info col-lg-7">
                        <h4>
                            <a href="#">Lifeskills for Children in South Africa</a>
                        </h4>
                        <p>
                            Called though excuse length ye needed it he having. Whatever throwing we on resolved entrance together graceful. Mrs assured add private married removed believe did she no he several excited am. peculiar families sensible. 
                        </p>
                        <ul class="date">
                            <li>
                                <i class="fas fa-clock"></i> 09:45 AM - 15:30 PM
                            </li>
                            <li>
                                <i class="fas fa-calendar-alt"></i> 800 Loring Ave, Estancia
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Single Item  -->
        </div>
    </div>
</div>