<div class="about-area py-5">
    <div class="container py-5 info">
        <h5 class="text-center h2">Board of Trustees</h5>
        <div class="align-items-start justify-content-center d-flex" *ngFor="let team of teams">
            <div class="text-center m-2"  *ngFor="let member of team_mem[team]">
                <img width="200px" src="assets/img/{{member.img}}.jpg" class="img-responsive mb-2 p-3 border bg-dark">
                <div class="text-wrapper">
                    <h6 class="m-0 text-nowrap" [innerHTML]="member.name">{{member.name}}</h6>
                    <p class="m-0 w-100 text-capitalize small" [innerHTML]="member.role">{{member.role}}</p>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>
    <div class="container py-5 info">
        <h5 class="text-center h2">Appeal</h5>
        <div class="col-lg-9 col-md-12 mx-auto text-center">
            <p>
                We humbly request philanthropists like you to contribute generously for successful completion of the project.
    <br>Once completed, this project will be recognized as the best of its kind and it will help generations to generations.
    <br>Our trust has been granted 12A Regn. under Income Tax Act, 1961 and <br><strong>Donors are eligible for exemption  u/s 80G of Income Tax Act 1961</strong> 
            </p>
        </div>
        
    </div>