.logo_absolute{
    background: #0c3c7c;
    top: 0;
    box-shadow: 0px 3px 3px #ccc;
}

.translate_select{
    top: 5px;
    right: 0;
    select {
        font-size: 12px
    }
}

.donate_btn {
    background: #19519c;
    color: #fff!important;
}