

<!-- Start Header Top 
============================================= -->
<!-- <div class="top-bar-area inc-pad bg-dark text-light">
    <div class="container-full">
        <div class="row align-center">
            <div class="col-lg-6 info">
                <ul>
                    <li>
                        <i class="fas fa-envelope-open"></i> trustrotary@gmail.com
                    </li>
                    <li>
                        <i class="fas fa-phone"></i> +91 8297 66 5678
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 text-right item-flex">
                <div class="info">
                    <ul>
                        <li>
                            <a href="#">Login</a>
                        </li>
                        <li>
                            <a href="#">Register</a>
                        </li>
                    </ul>
                </div>
                <div class="social">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- End Header Top -->


<!-- Header 
============================================= -->
<header id="home">

    <!-- Start Navigation -->
    <nav class="navbar navbar-default bootsnav">

        <div class="container-full d-flex justify-content-between align-items-center">


            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand p-0" href="index.html">
                    <div class="p-2 ">
                        <img src="assets/img/trust_logo.png" class="" alt="Logo" width="110px">
                    </div>
                </a>
            </div>
            <!-- End Header Navigation -->
            
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">
                <!-- <div class=" position-absolute translate_select" id="google_translate_element">
                    <select class="form-control py-0 h-auto rounded-0" aria-label="Default select example">
                        <option selected>English</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div> -->
                <ul class="nav navbar-nav py-3" data-in="fadeInDown" data-out="fadeOutUp">
                    <li *ngFor="let route of routes" [ngClass]="{'dropdown': route.children }" routerLinkActive="active">
                        <a [routerLink]="route.link" *ngIf="!route.children" class="py-0">{{ route.name }}</a>
                        <a *ngIf="route.children" href="javascript:void(0)" class="dropdown-toggle py-0" data-toggle="dropdown" >{{ route.name }}</a>
                        <ul class="dropdown-menu">
                            <li><a [routerLink]="r.link" *ngFor="let r of route.children">{{ r.name }}</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- Start Atribute Navigation -->
                <div class="attr-nav border-less">
                    <!-- <ul>
                        <li class="button p-0"><a href="#" class="p-0">Donate</a></li>
                    </ul> -->
                    <button class="btn py-3 px-4 donate_btn" (click)="openPopup()">Donate</button>
                </div>        
                <!-- End Atribute Navigation -->
            </div><!-- /.navbar-collapse -->

            
            
        </div>

    </nav>
    <!-- End Navigation -->

</header>
<!-- End Header -->

<div class="modal p-0" id="donate_modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content rounded-0">
      <!-- <div class="modal-header">
        <h4 class="modal-title">Donate Now</h4>
      </div> -->
      <div class="modal-body">
        <p class="text-center">You can now donate using one of the options below :</p>
        <div class="text-center">
            <img src="assets/img/donate_qr.png" class="">
        </div>
        
        <ul class="d-flex align-items-center col-7 mx-auto">
            <li class="mx-2"><img class="" src="assets/img/googlepay.png"></li>
            <li class="mx-2"><img class="" src="assets/img/phonepe.png"></li>
            <li class="mx-2"><img class="" src="assets/img/paytm.png"></li>
        </ul>
        <div class="d-flex flex-column p-3 bg-light">
            <img src="assets/img/banktransfer.png" width="100px" class="mx-auto">
            <p class="m-0 font-weight-bold text-center">Rotary Club of Kakinada Central Charitable Trust</p>
            <div class="d-flex flex-column col-7 mx-auto">
                
                <p class="m-0"><strong>A/c. No </strong>: 38184007287</p>
                <p class="m-0"><strong>Bank</strong> : State Bank of India</p>
                <p class="m-0"><strong>Branch</strong>: Madhavnagar Kakinada</p>
                <p class="m-0"><strong>IFSC</strong>: SBIN0032632</p>
            </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-danger" 
                >
          Close
        </button>
      </div> -->
    </div>
  </div>
</div>