<footer class="bg-dark text-light">
    <!-- Fixed Shape -->
    <div class="fixed-shape">
        <img src="assets/img/footer-bg.png" alt="Shape">
    </div>
    <!-- Fixed Shape -->
    <div class="container">
        <div class="f-items">
            <div class="row">
                <div class="col-lg-4 col-md-6 item">
                    <div class="f-item about">
                        <img src="assets/img/footer_logo.png" alt="Logo">
                        <p>
                            This is a dummy text, provided text will be replaced
                        </p>
                        <!-- <form action="#">
                            <input type="email" placeholder="Your Email" class="form-control" name="email">
                            <button type="submit"> Subscribe</button>  
                        </form> -->
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 item">
                    <div class="f-item link">
                        <h4 class="widget-title mb-2">Explore</h4>
                        <ul>
                            <li>
                                <a routerLink="/home">Home</a>
                            </li>
                            <li>
                                <a routerLink="/about">About Us</a>
                            </li>
                            <!-- <li>
                                <a routerLink="/programs/bloodbank">Blood Bank</a>
                            </li>
                            <li>
                                <a routerLink="/programs/physiotherapy">Physiotherapy</a>
                            </li>
                            <li>
                                <a routerLink="/programs/skilldevelopment">Skill Development</a>
                            </li> -->
                            <li>
                                <a routerLink="/gallery">Gallery</a>
                            </li>
                            <li>
                                <a routerLink="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 item">
                    <div class="f-item">
                        <h4 class="widget-title mb-2">Contact Info</h4>
                        <div class="address">
                            <ul>
                                <!-- <li>
                                    <strong>Address:</strong>
                                    5919 Trussville Crossings Pkwy, Birmingham AL 35235
                                </li> -->
                                <li>
                                    <strong>Email:</strong>
                                    <a href="mailto:trustrotary@gmail.com">trustrotary@gmail.com</a>
                                </li>
                                <li>
                                    <strong>Phone:</strong>
                                    <a href="tel:8297665678">+91 8297 66 5678</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 item">
                    <div class="f-item recent-post">
                        <h4 class="widget-title mb-2">Donation</h4>
                        <div class="item">
                            <p><strong>Bank Accout Details : </strong><br>
                                Rotary Club of Kakinada Central Charitable Trust <br>
                                A/c. No : 38184007287 <br>
                                Bank : State Bank of India <br>
                                Branch: Madhavnagar Kakinada <br>
                                IFS Code: SBIN0032632</p>
                        </div>
                        <!-- <div class="item">
                            <a href="#">Delighted prevailed supported too not remainder perpetual.</a>
                            <span><i class="fas fa-calendar-alt"></i> 22 Aug, 2020 -  <a href="#">Admin</a></span>
                        </div>
                        <div class="item">
                            <a href="#">Speaking trifling an to unpacked moderate debating learnin management. </a>
                            <span><i class="fas fa-calendar-alt"></i> 15 Nov, 2020 -  <a href="#">User</a></span>
                        </div> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Start Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>Copyright &copy;  2022. Rotary Club Of Kakinada Central Charitable Trust</p>
                </div>
                <!-- <div class="col-md-6 text-right link">
                    <ul>
                        <li>
                            <a href="#">Terms</a>
                        </li>
                        <li>
                            <a href="#">Privacy</a>
                        </li>
                        <li>
                            <a href="#">Support</a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
    <!-- End Footer Bottom -->
</footer>