<footer class="bg-dark text-light">
    <!-- Fixed Shape -->
    <div class="fixed-shape">
        <img src="assets/img/footer-bg.png" alt="Shape">
    </div>
    <!-- Fixed Shape -->
    <div class="container-fluid">
        <div class="f-items">
            <div class="row">
                <div class="col-lg-3 col-md-6 item">
                    <div class="f-item about p-0">
                        <img src="assets/img/footer_logo.png" routerLink="/home" alt="Logo">
                        <p>
                            Alone we can do so little; together we can do so much.
                        </p>
                        <!-- <form action="#">
                            <input type="email" placeholder="Your Email" class="form-control" name="email">
                            <button type="submit"> Subscribe</button>  
                        </form> -->
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 item">
                    <div class="f-item link">
                        <h4 class="widget-title mb-2">Explore</h4>
                        <ul>
                            <!-- <li class="m-0">
                                <a routerLink="/home">Home</a>
                            </li> -->
                            <li class="m-0">
                                <a routerLink="/about">About Us</a>
                            </li>
                            <li class="m-0">
                                <a routerLink="/programs/bloodbank">Blood Bank</a>
                            </li>
                            <li class="m-0">
                                <a routerLink="/programs/physiotherapy">Physiotherapy</a>
                            </li>
                            <li class="m-0">
                                <a routerLink="/programs/skilldevelopment">Skill Development</a>
                            </li>
                            <li class="m-0">
                                <a routerLink="/gallery">Gallery</a>
                            </li>
                            <li class="m-0">
                                <a routerLink="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 item">
                    <div class="f-item">
                        <h4 class="widget-title mb-2">Contact Info</h4>
                        <div class="address">
                            <ul>
                                <!-- <li>
                                    <strong>Address:</strong>
                                    5919 Trussville Crossings Pkwy, Birmingham AL 35235
                                </li> -->
                                <li>
                                    <strong>Email:</strong>
                                    <a href="mailto:trustrotary@gmail.com">trustrotary@gmail.com</a>
                                </li>
                                <li>
                                    <strong>Phone:</strong>
                                    <a href="tel:8297665678">+91 8297 66 5678</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 item">
                    <div class="f-item recent-post">
                        <h4 class="widget-title mb-2">Donation</h4>
                        <div class="item">
                            <p><strong class="text-white">Bank Account Details : </strong><br>
                                Rotary Club of Kakinada Central Charitable Trust <br>
                                A/c. No : 38184007287 <br>
                                Bank : State Bank of India <br>
                                Branch: Madhavnagar Kakinada <br>
                                IFS Code: SBIN0032632</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 item">
                    <div class="f-item text-center">
                        <p class="m-0">Scan and Pay</p>
                        <img src="assets/img/donate_qr.png" alt="donate_qr" class="m-0" width="100px" />
                    </div>
                    <div class="f-item">
                        <img src="assets/img/googlepay.png" class="img-responsive px-1 my-1" height="50px" alt="googlepay"/>
                        <img src="assets/img/phonepe.png" class="img-responsive px-1 my-1" height="60px" alt="phonepe"/>
                        <img src="assets/img/paytm.png" class="img-responsive px-1 my-1" height="25px" alt="paytm"/>
                        <img src="assets/img/banktransfer.png" class="img-responsive px-1 my-1" height="30px" alt="banktransfer"/>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Start Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>Copyright &copy;  2022. Rotary Club Of Kakinada Central Charitable Trust</p>
                </div>
                <!-- <div class="col-md-6 text-right link">
                    <ul>
                        <li>
                            <a href="#">Terms</a>
                        </li>
                        <li>
                            <a href="#">Privacy</a>
                        </li>
                        <li>
                            <a href="#">Support</a>
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
    <!-- End Footer Bottom -->
</footer>