<div class="about-area default-padding">
    <div class="container">
        <div class="row align-center">

            <div class="col-lg-6">
                <div class="thumb">
                    <img src="assets/img/800x800.png" alt="Thumb">
                    <div class="overlay">
                        <h4>More then 365 000+ People Were Helped</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 info">
                <h5>About Us</h5>
                <h2 class="text-blur">About Us</h2>
                <!-- <h2 class="area-title">our motto - There Is A Way</h2> -->
                <p>
                    Rotary Club of Kakinada Central was chartered on 24th Feb 1982. Since then, our club always believed in Service to Humanity and Fellowship through Service. The service rendered  to the community  is  invaluable  in terms of time & money. As on 30th July 2021, we have 74 members in our club.
                </p>
                <!-- <ul>
                    <li>
                        <h5>168K</h5>
                        <span>Plants Protected</span>
                    </li>
                    <li>
                        <h5>5M Ton </h5>
                        <span>Water Conserved</span>
                    </li>
                    <li>
                        <h5>37K Sqmi.</h5>
                        <span>Ocean Proteced</span>
                    </li>
                </ul> -->
                <a class="btn circle btn-theme border btn-md" routerLink="/about">Know More</a>
            </div>
            
        </div>
    </div>
</div>