<app-banner [page]="'about'" [pageName]="'about us'"></app-banner>
<!-- <app-about-section></app-about-section> -->
<div class="about-area my-5" *ngFor="let section of sections, let i=index">
    <div class="container  rounded-0 bg-white shadow">
        <div class="row align-center">

            <div class="col-lg-6 text-center" [ngClass]="i % 2 === 0 ? '' : 'order-last' ">
                <div class="thumb m-0">
                    <img src="assets/img/{{section.logo}}" alt="Thumb" width="250px">
                    <!-- <div class="overlay">
                        <h4>More then 365 000+ People Were Helped</h4>
                    </div> -->
                </div>
            </div>

            <div class="col-lg-6 info p-5">
                <h5 class="h2">{{ section.name }}</h5>
                <p>
                    {{ section.desc }}
                </p>
            </div>
            
        </div>
    </div>
</div>
<app-mission-section></app-mission-section>


