<div class="recent-causes-area carousel-shadow causes-area default-padding-bottom">
    <div class="container">
        <div class="heading-left">
            <div class="row">
                <div class="col-lg-6 left-info">
                    <h5>Recent Causes</h5>
                    <h2>
                        Donate to charity causes around the world.
                    </h2>
                </div>
                <div class="col-lg-6 right-info">
                    <p>
                        Everything melancholy uncommonly but solicitude inhabiting projection off. Connection stimulated estimating excellence an to impression. 
                    </p>
                    <a class="btn circle btn-md btn-gradient wow fadeInUp" href="#">View All <i class="fas fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-full">
        <div class="row">
            <div class="col-lg-12 causes-items">
                <div class="recent-causes-carousel owl-carousel owl-theme">
                    <!-- Single Item -->
                    <div class="item">
                        <div class="thumb">
                            <a href="#">
                                <img src="assets/img/800x600.png" alt="Thumb">
                                <span class="overlay">
                                    <strong>Created : </strong> Nov 7, 2020
                                </span>
                            </a>
                        </div>
                        <div class="info">
                            <h4>
                                <a href="#">Give Education To Africa</a>
                            </h4>
                            <p>
                                Especially do at he possession insensible manner sympathize boisterous it. 
                            </p>
                            <div class="progress-box">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width:45%">
                                        <span class="progress-bar wow fadeInLeft">45%</span>
                                    </div>
                                </div>
                                <p>Raised : $3900 <span>Goal : $8700</span></p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="item">
                        <div class="thumb">
                            <a href="#">
                                <img src="assets/img/800x600.png" alt="Thumb">
                                <div class="trend">
                                    <i class="fas fa-bolt"></i> Trend
                                </div>
                                <span class="overlay">
                                    <strong>Created : </strong> Aug 17, 2020
                                </span>
                            </a>
                        </div>
                        <div class="info">
                            <h4>
                                <a href="#">Water For All Children</a>
                            </h4>
                            <p>
                                Especially do at he possession insensible manner sympathize boisterous it. 
                            </p>
                            <div class="progress-box">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width:67%">
                                        <span class="progress-bar wow fadeInLeft">67%</span>
                                    </div>
                                </div>
                                <p>Raised : $4900 <span>Goal : $7800</span></p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="item">
                        <div class="thumb">
                            <a href="#">
                                <img src="assets/img/800x600.png" alt="Thumb">
                                <span class="overlay">
                                    <strong>Created : </strong> Dec 12, 2020
                                </span>
                            </a>
                        </div>
                        <div class="info">
                            <h4>
                                <a href="#">Food for Syrian</a>
                            </h4>
                            <p>
                                Especially do at he possession insensible manner sympathize boisterous it. 
                            </p>
                            <div class="progress-box">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width:70%">
                                        <span class="progress-bar wow fadeInLeft">70%</span>
                                    </div>
                                </div>
                                <p>Raised : $7600 <span>Goal : $9800</span></p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="item">
                        <div class="thumb">
                            <a href="#">
                                <img src="assets/img/800x600.png" alt="Thumb">
                                <span class="overlay">
                                    <strong>Created : </strong> Mar 26, 2020
                                </span>
                            </a>
                        </div>
                        <div class="info">
                            <h4>
                                <a href="#">Lifeskills for Children</a>
                            </h4>
                            <p>
                                Especially do at he possession insensible manner sympathize boisterous it. 
                            </p>
                            <div class="progress-box">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width:53%">
                                        <span class="progress-bar wow fadeInLeft">53%</span>
                                    </div>
                                </div>
                                <p>Raised : $4599 <span>Goal : $7688</span></p>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
</div>