<!-- <app-banner [page]="programId" [pageName]="program.service"></app-banner> -->
<div class="blog-area single full-blog full-blog">
    <div class="thumb">
        <a href="#">
            <img src="assets/img/{{programId}}_banner.png" alt="Thumb">
        </a>
    </div>
    <div class="container">
        <div class="blog-items">
            <div class="row">
                <div class="blog-content wow fadeInUp col-lg-10 offset-lg-1 col-md-12">
                    <div class="item">

                        <div class="blog-item-box">
                            <!-- Start Post Thumb -->
                            
                            <!-- Start Post Thumb -->

                            <div class="info" *ngIf="programId == 'bloodbank'">
                                
                                <p>
                                    Blood is the most precious gift that anyone can give to once life. The decision to donate blood can save a life or even more, when the blood is separated into its components - Red cells,  Platelets & Plasma - which can be used individually for patients with specific conditions. Hence our trust decided to establish this blood bank.
                                </p>
                                <p>Our trust identified the importance of Blood Banks and considering the gap between need and availability decided to establish a Blood Bank  
                                </p>
                                
                                <div class="row align-items-center">
                                    <div class="col-lg-4 col-md-6">
                                        <img src="assets/img/bloodbank.png" alt="logo">
                                    </div>
                                    <div class="col-lg-8 col-md-6">
                                        <blockquote>
                                            Appreciating the significance of having a quality blood bank,  Sri Karuturi Satyanarayana Murthy, Chairman & Managing Director of Apex Frozen Foods limited, Kakinada & his family members have voulenteered to support "Rotary Central blood Bank" emotionally & financially.  A Big thanks to them. As a token of gratitude and appreciation, the blood bank is named as <strong>"Karuturi Rotary Central Blood Bank"</strong>.
                                        </blockquote>
                                    </div>
                                </div>
                                

                                <h4>Why is Blood Bank important?</h4>
                                <p>
                                    A blood bank plays an important role in patient care. Transfusion-related errors have serious consequences for patients, including death. Proper identification of the patient and blood products is critical in avoiding such transfusion-related reactions.
                                </p>
                                <h4>Why Donate Blood</h4>
                                <ul>
                                    <li>The most precious gift that one can give to another person is the gift of life i.e. blood. It is the essence of life.</li>
                                    <li>Your blood saves more than one life when it is separated into its components (red blood cells, plasma etc.).</li>
                                    <li>Blood is needed regularly for patients with diseases such as thalassemia and hemophilia, and also for the treatment of injuries after an accident, major surgeries, anemia, etc.</li>
                                    <li>It improves your health.</li>
                                </ul>
                                <h4>Benefits of Donating Blood</h4>
                                <ul>
                                    <li>Less likely to suffer diseases</li>
                                    <li>Did you know that people who donate blood are 88% less likely to suffer a heart attack and 33% less likely to acquire any type of cardiovascular disease.</li>
                                    <li>When you donate blood, it removes 225 to 250 milligrams of iron from your body, hence reducing the risk of heart disease.</li>
                                    <li>Blood Center performs numerous tests on the donated blood. Therefore regular blood donation helps in sheilding you from serious diseases.</li>
                                </ul>
                                <h4>Stats about Blood</h4>
                                <ul>
                                    <li>According to a 2012 World Health Organisation (WHO) report, only nine million units are collected annually, while the need is for 12 million units.</li>
                                    <li>Delhi NCR alone faces a shortage of 100,000 units per year.</li>
                                    <li>The shelf-life of donated blood is 35 to 42 days. There is a constant need to replenish stocks in our blood banks.</li>
                                    <li>Healthy donors are between the age of 18 to 65 years.</li>
                                    <li>Statistics show that there are 234 million major operations in India, 63 million trauma-induced surgeries, 31 million cancer-related procedures and 10 million pregnancy related complications which require blood transfusions.</li>
                                </ul>
                                <h4>Facts About Blood</h4>
                                <ul>
                                    <li>One unit of donated blood can save up to three lives.</li>
                                    <li> You can donate blood every three months. It only takes 48 hours for your body fluids to be completely replenished.</li>
                                    <li>Scientists have estimated the volume of blood in the human body to be eight percent of body weight.</li>
                                    <li>There are 100,000 miles of blood vessels in an adult human body.</li>
                                    <li>A red blood cell can make a complete circuit of your body in 30 seconds.</li>
                                    <li>White blood cells make up about 1% of your blood.</li>
                                </ul>
                                <h4>Before You Donate</h4>
                                <ul>
                                    <li>Donating blood is a safe, simple, and rewarding experience that usually takes 30 minutes.</li>
                                    <li>To donate blood, find a blood bank near you using eRaktKosh Nearby Blood Bank Search.</li>
                                    <li>Requirement before Blood Donation is that your weight should be atleast 45 kgs , be at least 18 years old and be healthy in general.</li>
                                    <li>If you have any particular health concerns then inform the blood bank at the time of blood donation.</li>
                                </ul>
                                <h4>What to Expect When You Give Blood?</h4>
                                <p>
                                    If you’ve decided to donate blood, you may be curious about what to expect. Giving blood is a simple, safe way to make a big difference in people’s lives. Knowing what will happen before, during, and after you donate can help you prepare for the process.
                                </p>
                                <h4>Blood Donation Benefits</h4>
                                <p>Every 2 seconds, someone in the United States needs blood. Donating blood can help:</p>
                                <ul>
                                    <li>People who go through disasters or emergency situations</li>
                                    <li>People who lose blood during major surgeries</li>
                                    <li>People who have lost blood because of a gastrointestinal bleed</li>
                                    <li>Women who have serious complications during pregnancy or childbirth</li>
                                    <li>People with cancer or severe anemia sometimes caused by thalassemia or sickle cell disease</li>
                                    <li>And many others.</li>
                                </ul>
                                <h4>How often can you donate blood?</h4>
                                <p>
                                    If you donate whole blood, you need to wait 56 days between donations -- possibly longer, depending on the policy of your blood bank.
If you’re donating platelets, the American Red Cross allows people to do this every 7 days, up to 24 times a year.
                                </p>
                                <h4>Side Effects After Donating Blood</h4>
                                <p>There aren’t any lasting side effects, but you may temporarily:</p>
                                <ul>
                                    <li>Need to hydrate. Drink more non-alcoholic beverages for 24-48 hours after you donate blood.</li>
                                    <li>Need to take it easy. Don’t work out or do any hard physical activity for 24 hours after giving blood.</li>
                                    <li>Feel lightheaded. Lie down for a few minutes until you feel ready to get back up.</li>
                                    <li>Have a little bit of bleeding from the spot where you donated. Raise your arm and apply pressure to that spot for a few minutes.</li>
                                    <li>If you have bruising in that area, use an ice pack on it.</li>
                                </ul>
                                <h4>Blood Donation Facts</h4>
                                <ul>
                                    <li>Every two seconds someone needs blood.</li>
                                    <li>The donated blood will be replaced in 56 days (less than 2 months)</li>
                                    <li>Donor will not become "weak" after blood donation.</li>
                                    <li>A person has 5 - 6 litres of blood in his/her body.</li>
                                    <li>One can donate blood every 90 days (3 months)</li>
                                    <li>It takes only 15 to 20 minutes to donate blood.</li>
                                </ul>
                                <h4>OBJECTIVES :</h4>
                                <ul class="mb-5">
                                    <li *ngFor="let obj of program.objectives">{{ obj}} </li>
                                    <li>And many more</li>
                                </ul>
                            </div>

                            <div class="info" *ngIf="programId == 'physiotherapy'">
                                <h4>What is physiotherapy?</h4>
                                <p>Physiotherapy‟ is a branch of modern medical science which includes examination, assessment, interpretation, physical diagnosis, planning and execution of treatment and advice to any person to prevent, correct, alleviating and limiting dysfunction, acute and chronic bodily malfunction including life-saving measures via chest physiotherapy in the intensive care unit, curing physical disorders or disability, promoting physical fitness, facilitating healing and pain relief and treatment of physical and psychological disorders through modulating psychological and physical response using physical agents, activities and devices including exercise, mobilization, manipulations, therapeutic ultrasound, electrical and thermal agents and electrotherapy for diagnosis, treatment and prevention.</p>
                                <h4>Why choose Physiotherapy?</h4>
                                <p>Physiotherapy isn’t just limited to athletes looking to heal and recover faster. Physiotherapy is an effective and now globally accepted method, which is used for healing pain by massage or manual physical therapy. Physician considen this as most effective method for treatment and rehablitation programs. It is mainly used by sports person, office workers, ageing person and patients those are being treated or have undergone various types of surgeries. It helps them to get relief as soon as possible. This treatment is used during severe injuries or diseases.</p>
                                <h4>What Types of Treatments Are Used in Physiotherapy?</h4>
                                <p>Professional physiotherapists and physical rehabilitation therapists can use a variety of methods to treat you., including:</p>
                                <h6 class="mb-0 mt-2 font-weight-bold">A. EXERCISES:</h6>
                                <ul>
                                    <li>Passive exercise- Stiffness prevention  with movement of  joint and ease joint congestion.</li>
                                    <li>Active exercise-Patient is taught a series of graduated exercise that are performed under the supervision of the physiotherapist.</li>
                                    <li>Isometric exercise- Patient tenses a muscle repeatedly without moving it.These exercise are used when movement cause a patient or when a joint is immobilized, for example, by plaster.</li>
                                </ul>
                                <h6 class="mb-0 mt-2 font-weight-bold">B. ELECTRICAL TREATMENTS</h6>
                                <p>It is used to relieve the pain of stiff, arthritic joints and muscles spasms. This also termed as diathermy. The treatment uses short- wave electricity to produce heat within the tissues. Transcutaneous electrical nerve stimulation is a method of electrical stimulation.</p>
                                <h6 class="mb-0 mt-2 font-weight-bold">C. ULTRASOUND</h6>
                                <p>Frequently used for sports injuries. It Uses a very high frequency soundwaves, which are inaudible to the human’s ear, or treat acute soft tissue injuries by stimulating the healing processes.</p>
                                <h6 class="mb-0 mt-2 font-weight-bold">D. HEAT & COLD TREATMENTS</h6>
                                <ul>
                                    <li>It is especially beneficial immediately after an injury because it helps to reduce swelling and promote healing is also termed as Thermotherapy.</li>
                                    <li>Heat treatment is given to ease muscle spasm, to relieve pain and improve circulation, by heat lamps or hot pads. Diathermy is also a form of heat treatment.</li>
                                    <li>Cold treatment involves applying ice packs or cold sprays to reduce pain and inflammation and relieve congestion and bruising.</li>
                                </ul>
                                <h6 class="mb-0 mt-2 font-weight-bold">E. HYDROTHERAPY</h6>
                                <p>In hydrotherapy, exercises are performed in water, which supports are performed in water, which supports the body’s weight.</p>
                                <h6 class="mb-0 mt-2 font-weight-bold">F. MASSAGE</h6>
                                <p>Is sector relax the patient, reduce tissue swelling, ease muscle spasm and to break down tense muscular nodules.</p>
                                
                                <h4>What Conditions Can Physiotherapists Treat?</h4>
                                <p>Physiotherapists are healthcare professionals in physiotherapy geared towards helping people who are dealing with mobility-limiting ailments that can be as painful and they are debilitating. As such, physiotherapists target numerous body systems to help their clients to regain the mobility required for physical activity, to ward off or to recover from disability, to manage chronic or acute conditions, to recuperate after an injury and to avoid re-occurrence of problems.</p>
                                <p>physiotherapists a degree-based profession, so physiotherapists can use their knowledge and skills to assess, diagnose and treat a wide range of conditions.</p>

                                
                                <h4>OBJECTIVES :</h4>
                                <ul class="mb-5">
                                    <li *ngFor="let obj of program.objectives">{{ obj}} </li>
                                </ul>
                            </div>

                            <div class="info" *ngIf="programId == 'skilldevelopment'">
                                <h4>What is skill development?</h4>
                                <p>
                                    Skill development is a process of identifying your skill gap and ensuring you develop these skills. Your skills determine your ability to execute plans and achieve your goals. ... Organizations that encourage skill development have a stronger workforce, employees are motivated and engaged, and have higher productivity.
                                </p>
                                <h4>Why now is the Best Time to Learn new Skills</h4>
                                <p>
                                    Learning is always a good thing, and now is the best time to learn new skills. Most people are finding themselves with extra time on their hands, and what better way to spend it than by learning?
                                </p>
                                <h4>The Best way to learn?</h4>
                                <p>
                                    There’s no wrong way to learn, so you can find a method that suits your learning style best. Attend online workshops or conferences, take live lessons via video, sign up for an online course, or watch a webinar. Find something to challenge yourself, boost your career, or just pass the time.
                                </p>
                                <h4>Is there a choice?</h4>
                                <p>
                                    Global megatrends such as the rising role of technology, climate change, demographic shifts, urbanization, and the globalization of value chains are changing the nature of work and skills demands. To succeed in the 21st-century labour market, one needs a comprehensive skill set composed of:
                                </p>
                                <p>
                                    <strong>Cognitive skills</strong>, which encompass the ability to understand complex ideas, adapt effectively to the environment, learn from experience, and reason. Foundational literacy and numeracy as well as creativity, critical thinking, and problem-solving are cognitive skills.
                                </p>
                                <p>
                                    <strong>Socio-emotional skills</strong>, which describe the ability to navigate interpersonal and social situations effectively, and include leadership, teamwork, self-control, and grit.
                                </p>
                                <p>
                                    <strong>Technical skills</strong>, which refer to the acquired knowledge, expertise, and interactions needed to perform a specific task, including the mastery of required materials, tools, or technologies. 
                                </p>
                                <p>
                                   <strong>Digital skills</strong>, which are cross-cutting and drawing on all of the above skills, and describe the ability to access, manage, understand, integrate, communicate, evaluate, and create information safely and appropriately.
                                </p>


                                
                                <h4>OBJECTIVES :</h4>
                                <ul class="mb-5">
                                    <li *ngFor="let obj of program.objectives">{{ obj}} </li>
                                    <li>And many more</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>