<app-banner [page]="'achievements'" [pageName]="'Our Club Achievements'"></app-banner>

<div class="mission-area default-padding">
    <div class="container">
        <div class="row align-center">

            <div class="col-lg-12 info">
                <h3 class="font-weight-bold text-center mb-2">Major Achievements of Rotary Club of Kakinada Central since 1982</h3>
                <ul>
                    <li>In 1987, a free ENT, Skin, Gynic and Dental camp was conducted at cost of <span class="mx-1"><i class="fas fa-rupee-sign"></i></span>1,50,000/-. More than 700 Patients benefited during the camp. </li>
                    <li>In 1989, Physiotherapy equipment was provided to Government General Hospital Kakinada at the cost of 
                        <span class="mx-1"><i class="fas fa-rupee-sign"></i></span>3,72,000/-</li>
                    <li>In 1996, a Family Planning Operations for females was conducted at a cost of  <span class="mx-1"><i class="fas fa-rupee-sign"></i></span>1,00,000/-.  More than 360 operations were done.</li>
                    <li>In 1997, Rolls Royce Tennis Ball Night Cricket Tournament was conducted for 24 days in Association with Rolls Royce co., at a cost of <span class="mx-1"><i class="fas fa-rupee-sign"></i></span> 6,00,000/-.</li>
                    <li>In 2002, an Obstetric ICU was provided to Government General Hospital Kakinada at a cost of  <span class="mx-1"><i class="fas fa-rupee-sign"></i></span>8,33,000/-.</li>
                    <li>In 2003, an Eye Camp was conducted at the cost of                         <span class="mx-1"><i class="fas fa-rupee-sign"></i></span>1,88,000/- </li>
                    <li>In 2005, a Mega Medical Health Camp was held at Sampara at the cost of <span class="mx-1"><i class="fas fa-rupee-sign"></i></span>1,00,000/- with an objective to provide Health checkup to all the patients attending the camp. (More than 2000 patients attended). Hundred cataract operations were done during the camp.</li>
                    <li>In 2007, a Mega Eye camp at Tuni in Association with walkers club was conducted. </li>
                    <li>Between 2006 & 2009 more than 150 students who left Municipal Schools, joined “Rotary Bridge School” which was financially supported by our club members & Sarva Shiksha Abhiyan.</li>
                    <li>In 2007, the Physiotherapy unit at General Hospital Kakinada was upgraded at a cost of <span class="mx-1"><i class="fas fa-rupee-sign"></i></span>6,09,000.</li>
                    <li>In 2009, a Gynic ICU unit was provided  to Government General Hospital Kakinada at a cost of <span class="mx-1"><i class="fas fa-rupee-sign"></i></span>8,11,000/-.</li>
                    <li> In 2007, a Vocational  Training School was established to empower women in the community at a cost of  
                        <span class="mx-1"><i class="fas fa-rupee-sign"></i></span>50,000/-.</li>
                    <li>In 2011, 1064 Educational books were donated to a library at Cameron Elementary and Junior High School, Texas, USA at a cost of <span class="mx-1"><i class="fas fa-rupee-sign"></i></span>7,l0, 000/-.</li>
                    <li>In 2011, a Neonatal unit was provided in the Paediatric department of Government General Hospital Kakinada at a cost of  <span class="mx-1"><i class="fas fa-rupee-sign"></i></span>13,93,000/-.</li>
                    <li>In 2014, more than 1000 English - Telugu Dictionaries were distributed to the economically poor students of Municipal Schools in and around Kakinada at a cost of                <span class="mx-1"><i class="fas fa-rupee-sign"></i></span>1,00,000/-.</li>
                    <li>Between 2014 & 2016  TEN R.O water plants were provided to different villages & schools in and around kakinada at a cost of  <span class="mx-1"><i class="fas fa-rupee-sign"></i></span>19, 80,000/-.</li>
                    <li>In 2016, more than 3600 pairs of slippers were distributed to Municipal schools students of Kakinada with an objective to provide comfort to their feet at a cost of <span class="mx-1"><i class="fas fa-rupee-sign"></i></span>1, 95,000/-.</li>
                    <li>In 2016, free Eye check up camps was conducted in 14 Municipal schools of kakinada in Association with Kiran Eye Hospital Kakinada at a cost of <span class="mx-1"><i class="fas fa-rupee-sign"></i></span>2,00,000/-. More than 5000 students benefited. 250 specticals were distributed, 40 cataract operations, and 4 retina related surgeries were done to the needy students.</li>
                    <li>In 2016, As a part of Multi Rotary District singing competition, a Mega singing event “Reliance Rotary The Golden Voice” was organised for the youths of Kakinada. More than 100 boys and girls participated.</li>
                    <li>In 2019, for the first time our club conducted Rotary District Conference at a cost of <span class="mx-1"><i class="fas fa-rupee-sign"></i></span>1,00,00,000/-. More than 700 Rotarians & Guests participated.</li>
                </ul>
                <p class="mt-3 col-lg-9 col-md-12 text-center mx-auto">
                    Apart from all these service activities our Club Members have together contributed more than <br>
 <strong><span class="mx-1"><i class="fas fa-rupee-sign"></i></span>1,00,00,000/- (One Crore) </strong>to The Rotary Foundation.
                </p>
            </div>
            
        </div>
    </div>
</div>