<!-- Start Banner 
    ============================================= -->
    <div class="banner-area inc-indicator content-less text-large">
        <div id="bootcarousel" class="carousel text-light slide carousel-fade animate_text" data-ride="carousel">

            <!-- Indicators for slides -->
            <div class="carousel-indicator">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <ol class="carousel-indicators">
                                <li data-target="#bootcarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#bootcarousel" data-slide-to="1"></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Wrapper for slides -->
            <div class="carousel-inner carousel-zoom" *ngFor="let carousel of carousel_data">
                <div class="carousel-item active">
                    <div class="slider-thumb bg-cover" style="background-image: url(assets/img/{{carousel.img}}.jpg);">
                    </div>
                    <div class="box-table">
                        <div class="box-cell shadow dark">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-9">
                                        <!-- <div class="content">
                                            <h2 data-animation="animated slideInRight">Join with us and <strong>save the world</strong></h2>
                                            <p data-animation="animated slideInLeft">
                                                Numerous ladyship so raillery humoured goodness received an. So narrow formal length my highly longer afford oh. Tall neat he make. 
                                            </p>
                                            <a data-animation="animated fadeInUp" class="btn circle btn-light effect btn-md" href="#">Discover More</a>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Wrapper for slides -->

        </div>
    </div>
    <!-- End Banner -->
    <div class="mission-area default-padding bg-gray">
        <div class="container">
            <div class="row align-center">
    
                <div class="col-lg-4 text-center">
                    <div class="thumb m-0">
                        <img src="assets/img/trust_logo.png" alt="Thumb">
                    </div>
                </div>
    
                <div class="col-lg-8 info">
                    <h3 class="font-weight-bold">Our logo is a reflection of our Vision and Mission</h3>
                    <ul>
                        <li>The number 16 resonates with wisdom, independence, and family. 16 is a number of  introspection. It is wise, intuitive, and tends to be independent. 
                            <span class="font-weight-bold">Hence the 16 spokes</span></li>
                        <li>Blood globally represents life itself, as the element of divine life that functions within the human body closely tied with passion, but also with death, war & sacrifice. <span class="font-weight-bold">Hence the drop of blood emoji</span><span><img src="assets/img/fire_emoji.png" alt="Blood Emoji" class="img-responsive h1 ml-2" width="15px"></span></li>
                        <li>Physiotherapy encompasses rehabilitation, injury prevention and health promotion. It's the spine, or backbone of active and healthy life. More often than not physiotherapy helps prevent major Surgeries. 
                            <span class="font-weight-bold">Hence the human with backbone emoji</span><span><img src="assets/img/spine_emoji.png" alt="Spine Emoji" class="img-responsive h1 ml-2" width="15px"></span></li>
                        <li>The hand that cares is holier than the lips that pray. Skill development is a vital tool to empower people, to safeguard their future and for the overall development of an individual and it needs motherly care for improving expertise in different fields of knowledge. <span class="font-weight-bold">Hence the hand emoji.</span><span><img src="assets/img/hand_emoji.png" alt="Hand Emoji" class="img-responsive ml-2" width="30px"></span></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Star About Area
    ============================================= -->
    <!-- <app-about-section></app-about-section> -->
    <!-- End About Area -->

    <!-- Star Recent Causes Area
    ============================================= -->
    <!-- <app-cause-section></app-cause-section> -->
    <!-- End Recent Causes Area -->


    <!-- Start Our Mission 
    ============================================= -->
    <app-mission-section></app-mission-section>
    <!-- End Our Mission -->

    <!-- Start What We Do 
    ============================================= -->
    <app-service-section></app-service-section>
    <!-- End What We Do -->

    

    

    <!-- Start Event Area 
    ============================================= -->
    <!-- <app-event-section></app-event-section> -->
    <!-- End Event Area -->

    

    <!-- Start Gallery 
    ============================================= -->
    <app-gallery-section></app-gallery-section>
    <!-- End Gallery Area -->

    