<div class="mission-area bg-gray py-5">
    <div class="container bg-white py-5 shadow">
        <div class="row align-items-center">
            <div class="col-lg-6 thumb-box">
                <div class="thumb m-0">
                    <div class="thumb-1">
                        <img src="assets/img/vision.mission.png" alt="Thumb">
                    </div>
                    <!-- <div class="thumb-2">
                        <img src="assets/img/800x800.png" alt="Thumb">
                        <a href="https://www.youtube.com/watch?v=owhuBrGIOsE" class="popup-youtube light video-play-button item-center">
                            <i class="fa fa-play"></i>
                        </a>
                    </div> -->
                </div>
            </div>
            <div class="col-lg-6 info">
                <!-- <h5>Our Mission</h5> -->
                <!-- <h2 class="text-blur">Mission</h2> -->
                <!-- <h2 class="area-title">We believe that we can save more lifes with you.</h2>
                 -->
                <h2>Our Mission</h2>
                <p>
                    Save lives by meeting the most critical needs. Provide treatment in a caring, confidential and respectful manner and scale-up efforts in our community.
                </p>
                <h2>Our Vision</h2>
                <p>
                    Bringing dignity to the life of people by making quality blood available when needed, to become the preferred integrated physiotherapy and skill development centre. 
                </p>
                <!-- <ul>
                    <li>Protecting charities from abuse or mismanagement</li>
                    <li>Enabling trustees to run their charities effectively </li>
                    <li>Encouraging greater transparency and accountability</li>
                </ul> -->
                <!-- <a class="btn circle btn-theme border btn-md" href="#">Join With Us</a> -->
            </div>
        </div>
    </div>
</div>